.home {
  background-color: #dddddddd;
  min-height: 100vh;
  .home-body-app {
    display: flex;
    justify-content: center;
    align-items: stretch;
    min-height: 100vh;
    .home-app-container {
      position: relative;
      min-height: 100%;
      width: 80rem;
      background-color: #ffffff;
      padding: 12rem 3.8rem 4.4rem;
      .home-container-header {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        background-color: #000000;
        color: #ffff;
        h1 {
          font-size: 2.2rem;
          padding: 2.7rem 3.7rem;
          margin: 0;
        }
      }
    }
  }
}
